body {
    background-color: rgba(0, 0, 0, 0.815);    
    font-family:fantasy;
}

.nav {
    display: flex;
    color: white;
    justify-content: space-evenly;
    border-bottom: 5px solid;
    align-items: center;
    height: 15vh;
}

.nav a{
    color: white;
    text-decoration: none;
    transition: 0.25s ease;

}

.nav a:hover{
    color: rgb(255, 85, 85);
}

#active {
    color: rgb(255, 85, 85);
}
    


a {
    color: white;
    text-decoration: none;
}

.prod > *  {
    margin-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.red {
    color: red;
    font-size: 200%;
    border: 2px solid red;
    text-align: center;
    background-color: lightcoral;
    margin-bottom: -50px;
}

.prod img {
    float: left;
}

img  {
    width: 80;
    border-radius: 5px;
}
h3 {
    color: white;
    font-family: cursive;
}


/* .prod {
display: flex;
justify-content: center;
align-items: flex-end;
flex: 1;
} */

.produkter {
    color: white;
    width: 50%;
}

#status {
    font-weight: lighter;
}

h4 {
    font-weight: lighter;
}

#red {
    width: 20%;
}

.alleprodukter {
    display: flex;
}

.home {
    width: 1000;

}

h2 {
    color: white;
    font-weight: lighter;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 h1 {
    font-size: 30px;
    font-weight: 500;
    font-family:Impact !important;
    color: white;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero img {
    width: 30%;
}


#red {
    color: red;
    font-size: 210%;
    border: 1px solid red;
    text-align: center;
    background-color: lightcoral;
    margin-bottom: -50px;
}
