<!DOCTYPE html lang="no">
<html>
<head>
    <title>GameXchange.no allproducts.html</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <div class="nav">
        <a id="active" href="index.html">Hjem</a>
        <a href="hoydepunkter.html">Høydepunkter</a>
        <a href="login.html">Login</a>
        <a href="register.html">Registrer her</a>
        <a href="om_oss.html">Om oss og kontakt</a>
        <a href="allproducts.html">Alle produkter</a>
        <a href="kjop.html">Kjøp</a>
        <div onclick="darkmode()">darkmode()</div>
    </div>
    <h1>Velkommen til GameXchange.no</h1>
    <div class="alleprodukter">
        <div class="produkter">
        <img src="../bilder/1216145.jpg" style="width:20%;">
        <h4>God of War Ragnarök</h4>
        <div>Platform: Playstation 4 (2022)</div>
        <div id="status">Status: Pent brukt</div>
        <div id="red">KJØP</div>
    </div>

    <div class="produkter">
        <img src="../bilder/Screenshot 2025-05-04 142528.png" style="width:20%;">
        <h4>Minecraft</h4>
        <div>Platform: Nintendo Switch</div>
        <div></div>
        <div id="status">Status: Som ny</div>
        <div id="red">KJØP</div>
    </div>
    

    <!-- </div>    <div class="prod">
        <img src="../bilder/1216145.jpg" style="width:20%;">
        <h4>God of War Ragnarök</h4>
        <div>Platform: Playstation 4 (2022)</div>
        <div id="status">Status: Pent brukt</div>
        <br><br>
        <div id="red">KJØP</div>
    </div>




    <div class="prod">
<img src="/Screenshot 2025-05-04 142528.png" style="width:50%;">
<h4>Minecraft</h4>
<div>Platform: Nintendo Switch</div><data value=""></data>
<div class="status">Status: Som ny</div>
<div class="red">KJØP</div> -->
</body>
</html>
